@tailwind base;
@tailwind components;
@tailwind utilities;

a:not(.btn):hover {
  /* text-decoration: underline; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .three-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Adjust the number of lines */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.is-pinned {
  height: auto;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  opacity: 1;
}

@media (max-width: 768px) {

  /* For mobile screens */
  .icon-mobile {
    color: white;
    /* Example mobile color */
  }
}